body, h1, h2, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header, footer, .sidebar, .content {
    padding: 20px;
}
header {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.sidebar {
    float: left;
    width: 25%;
    background-color: whitesmoke;
}

.main {
    float: right;
    width: 75%;
    background-color: whitesmoke;
}

.content {
    clear: both;
}
